body{
    font-family: Arial, Lucida Sans Unicode;
    font-size: 14pt;
    color: #EEE;
    background: #74B5E8;
}

a{
    text-decoration: none;
    color: #FFF;
}

#header{
    background: url('../image/filmstrip-shadowed.png') repeat-x;
    width: 100%;
    height: 117px;
    padding: 48px 0px;
}

.titleMargin{
    margin-bottom: 45px;
}

#searchBar{
    clear: both;
}

#searchBar #search{
    width: 150px;
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height: 20px;
    padding: 0px 8px;
    margin: 0px 8px;
    float: left;
}

#ddWrapper{
    position: absolute;
    z-index: 999;
}

#ddWrapper span{
    background: #404040;
    width: 80px;
    text-align: center;
    padding: 5px;
}

#ddWrapper a:hover{
    color: #F7931E;
}

#topMovieBox{
    background: rgba(64,64,64,0.75);
    padding: 15px;
    width: 250px;
    display: none;
}

#movieList{
    padding: 0px 20px;
}

#map_canvas{
    margin-top: -30px;
    width: 100%;
    height: 100%;
    color: #111111;
}

#movieInfoWrapper{
    height: 100%;
    position: absolute;
    right: 0px;
    background: rgba(64,64,64,0.75);
    margin-top:-30px;
    padding: 10px 2px;
    z-index: 999;
}

#movieInfo{ display: none;}

#movieInfo div{ margin: 5px 0px;}

#miBtnWrapper{
    width: 8px;
    height: 100%;
}
#miBtn{top: 50%; position: absolute;}
#castList{ list-style: none;}

.float{float: left;}
.small{ font-size: 9pt; }
.medium{ font-size: 10pt;}
.roundBorder{ -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.center{ text-align: center}

img {
    display: block;
    margin-right: 10px;
}
.entry {
    margin: 10px 10px;
    list-style: none;
}